/*  hero */
.hero.hero-banner {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  background-color: antiquewhite;
}
.hero.hero-content {
  padding: 40px 0;
}

/* tags */
.tags {
  margin-bottom: 20px;
}

/* posts */
.posts .image {
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* post modal */
.modal-post .image {
  margin-bottom: 20px;
  padding-top: 25%;
  background-size: cover;
  background-position: center;
}
.modal-post .modal-body {
  padding-bottom: 40px;
}
